{% extends 'base.html' %}
{% load static %}
{% block menujs %}
<script>
    //선택된 메뉴
    $(".product").addClass("on");
    $("#parts").addClass("on");

    sub_webLeftGnb();
</script>
{% endblock menujs %}

{% block content %}
<div class="page_contents">
    <div class="tit_box_wrap">
        <div class="tit_box">
            <h2>
                <span class="back_bt onlym" onclick="javascript:history.back();"></span>
                주요 제품<span class="m_gnb_bt"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></span>
            </h2>
            <div class="pr_tabbox_slide_wrap">
                <div class="pr_tabbox_slide onlym">
                    <ul class="swiper-wrapper">
                        {% if product_goal %}
                            <li class="swiper-slide pr_tabbox_list_bt on"><a href="/product/1/product_goal/">품질 방침 & 목표</a></li>
                        {% else %}
                            <li class="swiper-slide pr_tabbox_list_bt"><a href="/product/1/product_goal/">품질 방침 & 목표</a></li>
                        {% endif %}

                        {% if facility_list %}
                            <li class="swiper-slide pr_tabbox_list_bt on"><a href="/product/1/facility_list/">설비 현황</a></li>
                        {% else %}
                            <li class="swiper-slide pr_tabbox_list_bt"><a href="/product/1/facility_list/">설비 현황</a></li>
                        {% endif %}

                        {% if press_list %}
                            <li class="swiper-slide pr_tabbox_list_bt on"><a href="/product/1/press">PRESS</a></li>
                        {% else %}
                            <li class="swiper-slide pr_tabbox_list_bt"><a href="/product/1/press">PRESS</a></li>
                        {% endif %}
                            
                        {% for item in product_queryset %}
                            {% if item == product %}
                                <li class="swiper-slide pr_tabbox_list_bt on"><a href="/product/{{item.name}}">{{item.name}}</a></li>
                            {% else %}
                                <li class="swiper-slide pr_tabbox_list_bt"><a href="/product/{{item.name}}">{{item.name}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if parts %}
                            <li class="swiper-slide pr_tabbox_list_bt on"><a href="/product/1/parts">주요 제품</a></li>
                        {% else %}
                            <li class="swiper-slide pr_tabbox_list_bt"><a href="/product/1/parts">주요 제품</a></li>
                        {% endif %}
                    </ul>
                </div>
                <a class="move_bt move_bt_left"><img src="{% static 'widget_img/mobile/pr_tabbox_left_bt_off.png' %}" alt=""></a>
                <a class="move_bt move_bt_right"><img src="{% static 'widget_img/mobile/pr_tabbox_right_bt_off.png' %}" alt=""></a>
            </div>
        </div>
        <div class="navbox">
            <ul>
                <li><img src="{% static '/widget_img/page_nav_icon.jpg' %}" alt=""></li>
                <span> > </span>
                <li>회사소개</li>
                <span> > </span>
                <li class="on">주요 제품</li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <a style="background-color: #0f69c4;
        color: white;
        font-size:14px;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        width:10rem;
        text-align:center;" 
        href="{% url 'product:download_sample' %}">제품 샘플 다운로드</a>
    </div>
    
    <div class="chart_wrap">
        <p class="chart_box"><img src="{{parts.parts_intro.url}}" alt="제품 현황"></p>
        <p class="m_chart_box"><img src="{{parts.parts_intro.url}}" alt="제품 현황"></p>
    </div>

</div>
{% endblock content %}