{% extends 'company_base.html' %}
{% load static %}
{% block menujs %}
<script>

    //선택된 메뉴
    $(".company").addClass("on");
    $("#history").addClass("on");

    sub_webLeftGnb();
</script>
{% endblock menujs %}
    

{% block content %}		
    <div class="page_contents_intro history_bg">
        <h1>
            <span class="back_bt onlym" onclick="javascript:history.back();"></span>
            회사연혁 <span class="m_gnb_bt"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></span>
        </h1>
        <p class="onlym history_bg"></p>
    </div>
    <div class="page_contents">
        <div class="tit_box_wrap">
            <div class="navbox">
                <ul>
                    <li><img src="/resources/images/common/page_nav_icon.jpg" alt=""></li>
                    <span> > </span>
                    <li>회사소개</li>
                    <span> > </span>
                    <li class="on">회사연혁</li>
                </ul>
            </div>
        </div>
        <div class="subpage_view_wrap">
            <div class="intro_box intro_box01">
                <h2>{{history.overview_title}}</h2>
                <span class="underline">밑줄</span>
                <table class="com_info_table">
                    <tbody>
                        <tr>
                            <th>회사설립일</th>
                            <td>{{history.date_company_founded}}</th>
                        </tr>
                        <tr>
                            <th>법인설립일</th>
                            <td>{{history.date_corporation_founded}}</td>
                        </tr>
                        <tr>
                            <th>대표이사</th>
                            <td>{{history.CEO}}</td>
                        </tr>
                        <tr>
                            <th>주 ITEM</th>
                            <td>{{history.main_item}}</td>
                        </tr>
                        <tr>
                            <th>종업원</th>
                            <td>{{history.num_employee}}</td>
                        </tr>
                        <tr>
                            <th>본사</th>
                            <td>{{history.head_office}}3</td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td>{{history.email}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="intro_box intro_box02">
                <h2>업체연혁</h2>
                <span class="underline">밑줄</span>
                <p class="img_con history_img"><img src="{{history.timeline_img.url}}" alt=""></p>
            </div>
        </div>
    </div>
{% endblock content %}

