{% extends 'company_base.html' %}
{% load static %}
{% block menujs %}
<script>
    //선택된 메뉴
    $(".company").addClass("on");
    $("#introduction").addClass("on");

    sub_webLeftGnb();
</script>
{% endblock menujs %}

{% block content %}
    <!-- content -->
    <div class="page_contents_intro introduce_bg">
        <h1>
            <span class="back_bt onlym" onclick="javascript:history.back();"></span>
            인사말 <span class="m_gnb_bt"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></span>
        </h1>
        <p class="onlyweb">극동프레스는 <span class="onlyweb"></span>언제나 새로운 변화를 추구하는 <span class="onlyweb"></span>경쟁력을 가진기업으로 거듭나겠습니다</p>
        <p class="onlym intro_bg"><!-- 극동프레스는<br>언제나 새로운 변화를 추구하는<br>경쟁력을 가진기업으로 거듭나겠습니다 --></p>
    </div>
    <div class="page_contents">
        <div class="tit_box_wrap">
            <div class="navbox">
                <ul>
                    <li><img src="/resources/images/common/page_nav_icon.jpg" alt=""></li>
                    <span> > </span>
                    <li>회사소개</li>
                    <span> > </span>
                    <li class="on">인사말</li>
                </ul>
            </div>
        </div>
        <div class="subpage_view_wrap">
            <div class="intro_box intro_box01">
                <h2>Global Network 글로벌네트워크</h2>
                <span class="underline">밑줄</span>
                <p class="intro_box01_bg"><img src="{% static '/main_image/yuchang_logo.PNG' %}" alt=""></p>
                <p class="intro_box_txt">극동프레스는세계와<br>당당히 경쟁하는최고의제품을만들겠습니다</p>
            </div>
            <div class="intro_box intro_box02">
                <h2>4S Management 4S경영</h2>
                <span class="underline">밑줄</span>
                <ul class="info_listbox">
                    <li>
                        <img src="/resources/images/company/intro_icon01.jpg" alt="">
                        <p>STUDY<br><span>연구개발</span></p>
                    </li>
                    <li>
                        <img src="/resources/images/company/intro_icon02.jpg" alt="">
                        <p>SKILL<br><span>기술축적</span></p>
                    </li>
                    <li>
                        <img src="/resources/images/company/intro_icon03.jpg" alt="">
                        <p>SMILE<br><span>고객만족</span></p>
                    </li>
                    <li>
                        <img src="/resources/images/company/intro_icon04.jpg" alt="">
                        <p>SINCERE<br><span>진실,성실</span></p>
                    </li>
                </ul>
                <p class="intro_box_txt">극동프레스는 4S경영으로<br>고객이 만족하는 서비스를 펼쳐가겠습니다.</p>
            </div>
        </div>
    </div>
{% endblock content %}
    

