{% extends 'company_base.html' %}
{% load static %}
{% block menujs %}
<script>
    //선택된 메뉴
    $(".company").addClass("on");
    $("#introduction").addClass("on");

    sub_webLeftGnb();
</script>
{% endblock menujs %}

{% block content %}
    <!-- content -->
    <div class="page_contents_intro introduce_bg">
        <h1>
            <span class="back_bt onlym" onclick="javascript:history.back();"></span>
            인사말 <span class="m_gnb_bt"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></span>
        </h1>
        <p class="onlyweb"><span class="onlyweb"></span> <span class="onlyweb"></span></p>
        <!-- <p class="onlym intro_bg"></p> -->
    </div>
    <div class="page_contents">
        <div class="tit_box_wrap">
            <div class="navbox">
                <ul>
                    <li><img src="{% static '/widget_img/page_nav_icon.jpg' %}" alt=""></li>
                    <span> > </span>
                    <li>회사소개</li>
                    <span> > </span>
                    <li class="on">인사말</li>
                </ul>
            </div>
        </div>
        <div class="subpage_view_wrap">
            <div class="intro_box intro_box01">
                <h2>{{introduction.intro_title}}</h2>
                <span class="underline">밑줄</span>
                <p class="intro_box01_bg"><img src="{{introduction.intro_image.url}}" alt=""></p>
                <p class="intro_box_txt" style="text-align: left;">{{introduction.intro_context}}
                    </p>
            </div>
            <div class="intro_box intro_box02">
                <h2>사훈</h2>
                <span class="underline">밑줄</span>
                <ul class="info_listbox">
                    <li>
                        <img src="{% static '/widget_img/challenge.png' %}" alt="">
                        <p>挑戰<br><span>도전</span></p>
                    </li>
                    <li>
                        <img src="{% static '/widget_img/creative.png' %}" alt="">
                        <p>創造<br><span>창조</span></p>
                    </li>
                    <li>
                        <img src="{% static '/widget_img/trust.png' %}" alt="">
                        <p>信賴<br><span>신뢰</span></p>
                    </li>
                </ul>
                <!-- <p class="intro_box_txt">footer<br>footer</p> -->
            </div>
        </div>
    </div>
{% endblock content %}
    

