{% extends 'company_base.html' %}
{% load static %}
{% block menujs %}
<script>

    //선택된 메뉴
    $(".company").addClass("on");
    $("#mainbusiness").addClass("on");

    sub_webLeftGnb();
</script>
{% endblock menujs %}

{% block content %}

<!-- <div class="page_contents_intro work_bg">
    <h1>
        <span class="back_bt onlym" onclick="javascript:history.back();"></span>
        주요업무 <span class="m_gnb_bt"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></span>
    </h1>
    <p class="onlyweb">{{mainbusiness.greetings}}</p>
    <p class="onlym work_bg"></p>
</div>
<div class="page_contents">
    <div class="tit_box_wrap">
        <div class="navbox">
            <ul>
                <li><img src="{% static '/widget_img/page_nav_icon.jpg' %}" alt=""></li>
                <span> > </span>
                <li>회사소개</li>
                <span> > </span>
                <li class="on">주요업무</li>
            </ul>
        </div>
    </div>
    <div class="subpage_view_wrap">
        <div class="intro_box intro_box01">
            <h2>주요업무</h2>
            <span class="underline">밑줄</span>
            <p class="img_con work_img"><img src="{{mainbusiness.work1_image.url}}" alt=""></p>
            <div class="worklist">
                <ul>
                    {% for business in business_list %}
                        <li>{{business}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="intro_box intro_box02">
            <h2>주요업무2</h2>
            <span class="underline">밑줄</span>
            <p class="img_con work_img"><img src="{{mainbusiness.work2_image.url}}" alt=""></p>
        </div>
    </div>
</div> -->


<!-- ssssssssss -->
<div class="page_contents_intro introduce_bg">
    <h1>
        <span class="back_bt onlym" onclick="javascript:history.back();"></span>
        주요업무 <span class="m_gnb_bt"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></span>
    </h1>
    <p class="onlyweb">세부 <span class="onlyweb"></span>회사 <span class="onlyweb"></span>소개</p>
    <p class="onlym intro_bg"></p>
</div>
<div class="page_contents">
    <div class="tit_box_wrap">
        <div class="navbox">
            <ul>
                <li><img src="{% static '/widget_img/page_nav_icon.jpg' %}" alt=""></li>
                <span> > </span>
                <li>회사소개</li>
                <span> > </span>
                <li class="on">주요업무</li>
            </ul>
        </div>
    </div>
    <div class="subpage_view_wrap">
        <div class="intro_box intro_box01">
            <h2>주요업무</h2>
            <span class="underline">밑줄</span>
            <p class="intro_box01_bg"><img src="{{mainbusiness.work1_image.url}}" alt=""></p>
            <p class="intro_box01_bg"><img src="{{mainbusiness.work2_image.url}}" alt=""></p>
        </div>

    </div>
</div>



{% endblock content %}
    