{% extends 'base.html' %}
{% load static %}
{% block menujs %}
<script>

    //선택된 메뉴
    $(".company").addClass("on");
    $("#map").addClass("on");

    sub_webLeftGnb();
</script>
{% endblock menujs %}

{% block content %}
<div class="page_contents">
    <div class="tit_box_wrap">
        <div class="tit_box">
            <h2>
                <span class="back_bt onlym" onclick="javascript:history.back();"></span>
                찾아오시는길<span class="m_gnb_bt"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></span>
            </h2>
        </div>
        <div class="navbox">
            <ul>
                <li><img src="/resources/images/common/page_nav_icon.jpg" alt=""></li>
                <span> > </span>
                <li>회사소개</li>
                <span> > </span>
                <li class="on">찾아오시는길</li>
            </ul>
        </div>
    </div>

    <div class="location_wrap">
        <div id="map" class="map" style=background:url({{map.map_image.url}})no-repeat center; background-size:cover;>
        </div>

        <div class="location_info">
            <h2>오시는길</h2>
            <span class="underline">밑줄</span>
            <table class="com_info_table">
                <tbody>
                    <tr>
                        <th>주소안내</th>
                        <td>{{map.map_location}}</th>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td>{{map.phone_number}}</td>
                    </tr>
                    <tr>
                        <th>팩스번호</th>
                        <td>{{map.fax_number}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
{% endblock content %}
    