{% extends 'base.html' %}

{% block menujs %}
<script>

    //선택된 메뉴
    $(".company").addClass("on");
    $("#map").addClass("on");

    sub_webLeftGnb();
</script>
{% endblock menujs %}

{% block content %}
<div class="page_contents">
    <div class="tit_box_wrap">
        <div class="tit_box">
            <h2>
                <span class="back_bt onlym" onclick="javascript:history.back();"></span>
                찾아오시는길<span class="m_gnb_bt"><img src="/resources/images/common/btn_stm.png" alt=""></span>
            </h2>
        </div>
        <div class="navbox">
            <ul>
                <li><img src="/resources/images/common/page_nav_icon.jpg" alt=""></li>
                <span> > </span>
                <li>회사소개</li>
                <span> > </span>
                <li class="on">찾아오시는길</li>
            </ul>
        </div>
    </div>

    <div class="location_wrap">
        <div id="map" class="map">
            <!-- <img src="../images/company/map.jpg" alt="지도"> -->
        </div>

        <div class="location_info">
            <h2>오시는길</h2>
            <span class="underline">밑줄</span>
            <table class="com_info_table">
                <tbody>
                    <tr>
                        <th>주소안내</th>
                        <td>경기도 화성시 송산면 송산산단길 123</th>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td>+82.31.355.8170</td>
                    </tr>
                    <tr>
                        <th>팩스번호</th>
                        <td>+82.31.355.8169</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
{% endblock content %}
    