{% extends 'base.html' %}
{% load static %}
{% block menujs %}
<script>
    //선택된 메뉴
    $(".inquiry").addClass("on");
    $("#sub_inquiry").addClass("on");
    sub_webLeftGnb();
</script>
{% endblock menujs %}

{% block content %}
<div class="page_contents">
    <div class="tit_box_wrap">
        <div class="tit_box">
            <h2>
                <span class="back_bt onlym" onclick="javascript:history.back();"></span>
                제품문의 <span class="m_gnb_bt"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></span>
            </h2>
            <h3 class="mobile_txt">문의가 정상적으로 접수 되었습니다.</h3>
            <p>문의가 정상적으로 접수 되었습니다.</p>
        </div>
    </div>
</div> 
{% endblock content %}
    