{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="">
        <title>{{maininfo.last.name_kr}}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sub.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <script type="text/javascript" src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sub.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/swiper.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </head>

    <body>
        <!-- 웹 메인 시작 -->
        <div class="wrap pc_main">
            <div class="left_menu">
                <div class="left_main_menu">
                    <h3><a href="/"><img src="{% static '/main_image/yuchang_logo.PNG' %}" alt="logo"></a></h3>
                    <ul class="gnb">
                        <li><a href="/company/introduction">회사소개</a></li>
                        <li><a href="/product/{{product_queryset.first.name}}">설비/제품</a></li>
                        <li><a href="/inquiry">거래문의</a></li>
                        <li><a href="/notice">공지사항</a></li>
                    </ul>
                    <ul class="country_bt">
                        <li><a href="/">KOR</a></li>
                        <li><a href="/cn/home">中文</a></li>
                    </ul>

                    <div class="footer">
                        <div class="ft_top">
                            <p>{{maininfo.last.location_kr}}</p>
                        </div>
                        <div class="ft_bot">
                            <p>㈜{{maininfo.last.name_kr}}<br>Copyright(c)<br>{{maininfo.last.name_en}}.<br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>

                <div class="left_sub_menu">
                    <ul class="submenu01">
                        <li><a href="/company/introduction">인사말</a></li>
                        <li><a href="/company/history">회사연혁</a></li>
                        <li><a href="/company/mainbusiness">주요업무</a></li>
                        <li><a href="/company/organizationchart">조직도</a></li>
                        <li><a href="/company/map">찾아오시는길</a></li>
                    </ul>
                    <ul class="submenu02">
                        <li id="product_goal"><a href="/product/1/product_goal">품질 방침 & 목표</a></li>
                        {% for product in product_queryset %}
                        <li id="{{product.name}}"><a href="/product/{{product.name}}">{{product.name}}</a></li> 
                        {% endfor %}
                    </ul>
                    <ul class="submenu03">
                        <li><a href="/inquiry">거래문의</a></li>
                    </ul>
                    <ul class="submenu04">
                        <li><a href="/notice">공지사항 & 뉴스</a></li>
                    </ul>
                </div>
            </div>
            <!-- 메인슬라이드 -->
            <div class="main_wrap">
                <div class="main_slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide mainslide01">
                            <h2>Intro Greetings</h2>
                            <p>내용</p>
                            <!-- <img src="images/main/main_img03.jpg" alt="mainimg01"> -->
                        </div>
                        <div class="swiper-slide mainslide02">
                            <h2>Intro Greetings</h2>
                            <p>내용</p>
                            <!-- <img src="images/main/main_img01.jpg" alt="mainimg02"> -->
                        </div>
                        <div class="swiper-slide mainslide03">
                            <h2>Intro Greetings</h2>
                            <p>내용</p>
                            <!-- <img src="images/main/main_img02.jpg" alt="mainimg03"> -->
                        </div>
                    </div>
                    <!--
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    -->
                </div>
                <div class="ms_wrap">
                    <div class="swiper-pagination main_slide_pagination"></div>
                </div>
            </div>
            <!-- 메인슬라이드 끝-->
            <div class="right_menu">
                <ul class="top">
                    <li class="right_menu01" style="background-color: rgb(88, 126, 108);"><a href="/product/{{product_queryset.first.name}}">{{product_queryset.first.name}}</a></li>
                    <li class="right_menu02" style="background-color: rgb(44, 29, 39);"><a href="/company/introduction">글로벌네트워크</a></li>
                </ul>
                <ul class="mid">
                    <li class="right_menu03">
                        <div class="board_preview">
                            <h3><span>Notice &</span> News</h3>
                            <div class="board_slide">
                                <div class="board_slide_wrap">
                                    <div class="swiper-wrapper">                                           
                                        {% for article in notice_news %}
                                            <div class="swiper-slide">
                                                <div class="board_con">
                                                    <a href="/notice/detail/{{article.pk}}">
                                                        <h3>{{article.title}}</h3>
                                                        <p>{{article.context}}</p>
                                                        <span>{{article.created_at|date:"Y-m-d"}}</span>
                                                    </a>
                                                </div>
                                            </div>    
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="board_slide_bts">
                                    <div class="board_slide_prev">위</div>
                                    <div class="board_slide_next">아래</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="right_menu04"><a href="{% url 'download_brochure' %}"><img src="{% static 'main_image/right_menu04_off.jpg' %}" alt="회사소개서"></a></li>
                </ul>
                <ul class="bot">
                    <li class="right_menu05" style="background-color: rgb(76, 67, 155);"><a href="javascript:alert('준비중입니다.');"><img src="{% static 'main_image/right_menu05.jpg' %}" alt="동영상링크"></a></li>
                    <li class="right_menu06">
                        <div class="main_info_box">
                            <h4><img src="{% static '/widget_img/main_call.png' %}" alt=""></h4>
                            <p>{{maininfo.last.phone_number}}</p>
                            <h4><img src="{% static '/widget_img/main_fax.png' %}" alt=""></h4>
                            <p>{{maininfo.last.fax_number}}</p>
                            <h4><img src="{% static '/widget_img/main_email.png' %}" alt=""></h4>
                            <p>{{maininfo.last.email}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 웹 메인 끝 -->

        <!-- 모바일 메인 시작 -->
        <div class="wrap mobile_main">
            <div class="m_header">
                <div class="m_header_top">
                    <h1 class="m_logobox"><a href="/"><img src="{% static '/main_image/yuchang_logo.PNG' %}" alt=""></a></h1>
                    <div class="m_gnb">
                        <p class="m_gnb_bt"><a href="#1"><img src="{% static '/widget_img/mobile/btn_stm.png' %}" alt=""></a></p>
                    </div>
                </div>
                <div class="m_sub_menu">
                    <div class="m_sub_menu_con">
                        <h2 class="m_logo"><a href="/"><img src="{% static '/main_image/logo_m2.PNG' %}" alt=""></a></h2>
                        <ul class="m_sub_menu_list">
                            <li>
                                <a class="subdetailmenubt" href="javascript:void(0);">회사소개 <span>></span></a>
                                <ul class="m_subdetailmenu">
                                    <li><a href="/company/introduction">인사말</a></li>
                                    <li><a href="/company/history">회사연혁</a></li>
                                    <li><a href="/company/mainbusiness">주요업무</a></li>
                                    <li><a href="/company/organizationchart">조직도</a></li>
                                    <li><a href="/company/map">찾아오시는길</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="subdetailmenubt" href="javascript:void(0);">설비/제품<span>></span></a>
                                <ul class="m_subdetailmenu">
                                    <li><a href="/product/1/product_goal">품질 방침 & 목표</a></li>
                                    {% for product in product_queryset %}
                                        <li><a href="/product/{{product.name}}">{{product.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a class="subdetailmenubt" href="javascript:void(0);">거래문의<span>></span></a>
                                <ul class="m_subdetailmenu">
                                    <li><a href="/inquiry">거래문의</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="subdetailmenubt" href="javascript:void(0);">공지사항<span>></span></a>
                                <ul class="m_subdetailmenu">
                                    <li><a href="/notice">공지사항 & 뉴스</a></li>
                                </ul>
                            </li>
                            <!-- <li>
                                <a class="subdetailmenubt" href="#1">설정</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="m_sub_menu_bg"></div>
                </div>
            </div>
            <!-- 모바일 메인슬라이드 -->
            <div class="m_main_slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide m_mainslide01">
                        <img src="{% static '/main_image/press80.jpg' %}" alt="mainimg01">
                    </div>
                    <div class="swiper-slide m_mainslide02">
                        <img src="{% static '/main_image/press150.jpg' %}" alt="mainimg02">
                    </div>
                    <div class="swiper-slide m_mainslide03">
                        <img src="{% static '/main_image/press250.jpg' %}" alt="mainimg03">
                    </div>
                </div>
                <!--
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                -->
                <div class="ms_wrap">
                    <div class="swiper-pagination m_main_slide_pagination"></div>
                </div>
            </div>
            <!-- 모바일 메인슬라이드 끝-->
            <!-- 모바일 메인 퀵배너 -->
            <div class="quick_banner_box">
                <ul>
                    <li><a href="/product/{{product_queryset.first.name}}"><img src="{% static '/main_image/m_quickmenu01.png' %}" alt=""></a></li>
                    <li><a href="/company/introduction"><img src="{% static '/main_image/m_quickmenu02.png' %}" alt=""></a></li>
                    <li><a href="javascript:alert('준비중입니다.');"><img src="{% static '/main_image/m_quickmenu03.png' %}" alt=""></a></li>
                </ul>
            </div>
            <!-- 모바일 메인 퀵배너 끝-->
            <!-- 공지사항 & 뉴스 -->
            <div class="m_notice_box">
                <div class="m_notice">
                    <h4>YUCHANG <span>NOTICE & NEWS</span></h4>
                    <div class="m_board_slide">
                        <div class="m_board_slide_wrap">
                            <div class="swiper-wrapper">
                                {% for article in notice_news %}
                                    <div class="swiper-slide">
                                        <div class="board_con">
                                            <a href="/notice/detail/{{article.pk}}">
                                                <h3>{{article.title}}</h3>
                                                <p>{{article.context}}</p>
                                                <span>{{article.created_at|date:"Y-m-d"}}</span>
                                            </a>
                                        </div>
                                    </div>    
                                {% endfor %}       
                            </div>
                        </div>
                        <div class="m_board_slide_bts">
                            <div class="board_slide_prev">위</div>
                            <div class="board_slide_next">아래</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 공지사항 & 뉴스 끝-->

            <!-- 극동프레스 info -->
            <div class="service_box">
                <ul>
                    <li>
                        <a href="{% url 'download_brochure' %}" download>
                            <h4><img src="{% static '/widget_img/main_download.png' %}" alt=""></h4>
                            <p>회사소개서</p>
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{maininfo.last.phone_number}}">
                            <h4><img src="{% static '/widget_img/main_call.png' %}" alt=""></h4>
                            <p>{{maininfo.last.phone_number}}</p>
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{maininfo.last.fax_number}}">
                            <h4><img src="{% static '/widget_img/main_fax.png' %}" alt=""></h4>
                            <p>{{maininfo.last.fax_number}}</p>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{maininfo.last.email}}">
                            <h4><img src="{% static '/widget_img/main_email.png' %}" alt=""></h4>
                            <p>{{maininfo.last.email}}</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 극동프레스 info 끝 -->
            <!-- 모바일 footer -->
            <div class="m_footer">
                <p>{{maininfo.last.location_kr}}</p>
                <p>㈜{{maininfo.last.name_kr}} Copyright(c) {{maininfo.last.name_en}}.All Rights Reserved. </p>
            </div>
            <!-- 모바일 footer 끝-->
        </div>
    </body>
</html>
