{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="">
        <title>기업이름</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sub.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <script type="text/javascript" src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sub.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/swiper.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </head>

    <body>
        <!-- 웹 메인 시작 -->
        <div class="wrap pc_main">
            <div class="left_menu">
                <div class="left_main_menu">
                    <h3><a href="/"><img src="/resources/images/common/logo.png" alt="logo"></a></h3>
                    <ul class="gnb">
                        <li><a href="/company/introduction">회사소개</a></li>
                        <li><a href="/product/{{product_queryset.first.name}}">제품소개</a></li>
                        <li><a href="/inquiry">제품문의</a></li>
                        <li><a href="/notice">공지사항</a></li>
                    </ul>
                    <ul class="country_bt">
                        <li><a href="/">KOR</a></li>
                        <li><a href="/cn/home">中文</a></li>
                    </ul>

                    <div class="footer">
                        <div class="ft_top">
                            <p>경기도 화성시 송산면<br>송산산단길 123</p>
                        </div>
                        <div class="ft_bot">
                            <p>㈜극동프레스<br>Copyright(c)<br>KUKDONG PRESS.<br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>

                <div class="left_sub_menu">
                    <ul class="submenu01">
                        <li><a href="/company/introduction">인사말</a></li>
                        <li><a href="/company/history">회사연혁</a></li>
                        <li><a href="/company/mainbusiness">주요업무</a></li>
                        <li><a href="/company/organizationchart">조직도</a></li>
                        <li><a href="/company/map">찾아오시는길</a></li>
                    </ul>
                    <ul class="submenu02">
                        {% for product in product_queryset %}
                        <li id="{{product.name}}"><a href="/product/{{product.name}}">{{product.name}}</a></li> 
                        {% endfor %}
                    </ul>
                    <ul class="submenu03">
                        <li><a href="/inquiry">제품문의</a></li>
                    </ul>
                    <ul class="submenu04">
                        <li><a href="/notice">공지사항 & 뉴스</a></li>
                    </ul>
                </div>
            </div>
            <!-- 메인슬라이드 -->
            <div class="main_wrap">
                <div class="main_slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide mainslide01">
                            <h2>ONLY,<br> Excellent Quality Products<br>Are able to satisfy the Customers as<br>well as Ourselves</h2>
                            <p>극동프레스는 고품질의 제품으로<br>고객만족을 실현하겠습니다.</p>
                            <!-- <img src="images/main/main_img03.jpg" alt="mainimg01"> -->
                        </div>
                        <div class="swiper-slide mainslide02">
                            <h2>ONLY,<br> Excellent Quality Products<br>Are able to satisfy the Customers as<br>well as Ourselves</h2>
                            <p>극동프레스는 고품질의 제품으로<br>고객만족을 실현하겠습니다.</p>
                            <!-- <img src="images/main/main_img01.jpg" alt="mainimg02"> -->
                        </div>
                        <div class="swiper-slide mainslide03">
                            <h2>ONLY,<br> Excellent Quality Products<br>Are able to satisfy the Customers as<br>well as Ourselves</h2>
                            <p>극동프레스는 고품질의 제품으로<br>고객만족을 실현하겠습니다.</p>
                            <!-- <img src="images/main/main_img02.jpg" alt="mainimg03"> -->
                        </div>
                    </div>
                    <!--
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    -->
                </div>
                <div class="ms_wrap">
                    <div class="swiper-pagination main_slide_pagination"></div>
                </div>
            </div>
            <!-- 메인슬라이드 끝-->
            <div class="right_menu">
                <ul class="top">
                    <li class="right_menu01" style="background-color: rgb(88, 126, 108);"><a href="/product/{{product_queryset.first.name}}">{{product_queryset.first.name}}</a></li>
                    <li class="right_menu02" style="background-color: rgb(44, 29, 39);"><a href="/company/introduction">글로벌네트워크</a></li>
                </ul>
                <ul class="mid">
                    <li class="right_menu03" style="background-color: rgb(171, 153, 189);">
                        <div class="board_preview">
                            <h3><span>Notice &</span> News</h3>
                            <div class="board_slide">
                                <div class="board_slide_wrap">
                                    <div class="swiper-wrapper">                                           
                                        {% for article in notice_news %}
                                            <div class="swiper-slide">
                                                <div class="board_con">
                                                    <a href="/notice/detail/{{article.pk}}">
                                                        <h3>{{article.title}}</h3>
                                                        <p>{{article.context}}</p>
                                                        <span>{{article.created_at|date:"Y-m-d"}}</span>
                                                    </a>
                                                </div>
                                            </div>    
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="board_slide_bts">
                                    <div class="board_slide_prev">위</div>
                                    <div class="board_slide_next">아래</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="right_menu04"></li><a href="/corpweb/media/files/notice/extensions.txt" download><img src="/resources/images/main/right_menu04_off.jpg" alt="회사소개서"></a></li>
                </ul>
                <ul class="bot">
                    <li class="right_menu05" style="background-color: rgb(76, 67, 155);"><a href="javascript:alert('준비중입니다.');"><img src="/resources/images/main/right_menu05.jpg" alt="동영상링크"></a></li>
                    <li class="right_menu06">
                        <div class="main_info_box" style="background-color: rgb(208, 224, 118);">
                            <h4><img src="/resources/images/main/info_icon01.png" alt=""></h4>
                            <p>+82.31.355.8170</p>
                            <h4><img src="/resources/images/main/info_icon02.png" alt=""></h4>
                            <p>+82.31.355.8169</p>
                            <h4><img src="/resources/images/main/info_icon03.png" alt=""></h4>
                            <p>kdpress2028@hanmail.net</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 웹 메인 끝 -->

        <!-- 모바일 메인 시작 -->
        <div class="wrap mobile_main">
            <div class="m_header">
                <div class="m_header_top">
                    <h1 class="m_logobox"><a href="/"><img src="/resources/images/common/m_logo.png" alt=""></a></h1>
                    <div class="m_gnb">
                        <p class="m_gnb_bt"><a href="#1"><img src="/resources/images/common/btn_stm.png" alt=""></a></p>
                    </div>
                </div>
                <div class="m_sub_menu">
                    <div class="m_sub_menu_con">
                        <h2 class="m_logo"><a href="/"><img src="/resources/images/common/logo.png" alt=""></a></h2>
                        <ul class="m_sub_menu_list">
                            <li>
                                <a class="subdetailmenubt" href="javascript:void(0);">회사소개 <span>></span></a>
                                <ul class="m_subdetailmenu">
                                    <li><a href="/company/company">인사말</a></li>
                                    <li><a href="/company/history">회사연혁</a></li>
                                    <li><a href="/company/work">주요업무</a></li>
                                    <li><a href="/company/organization_chart">조직도</a></li>
                                    <li><a href="/company/location">찾아오시는길</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="subdetailmenubt" href="javascript:void(0);">제품소개<span>></span></a>
                                <ul class="m_subdetailmenu">
                                    <li><a href="/product/DIE_SPOTTING_PRESS_1">DIE<br>SPOTTING<br>PRESS(무반전)</a></li>
                                    <li><a href="/product/DIE_SPOTTING_PRESS_2">DIE<br>SPOTTING<br>PRESS(180˚반전)</a></li>
                                    <li><a href="/product/TRY_OUT_PRESS">TRY OUT<br>PRESS</a></li>
                                    <li><a href="/product/KGP_PRESS">KGP<br>PRESS</a></li>
                                    <li><a href="/product/AUTOMOBILE_INTERIOR_FORMING">AUTOMOBILE<br>INTERIOR<br>FORMING</a></li>
                                    <li><a href="/product/DEEP_DRAWING_PRESS">DEEP<br>DRAWING<br>PRESS</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="subdetailmenubt" href="javascript:void(0);">제품문의<span>></span></a>
                                <ul class="m_subdetailmenu">
                                    <li><a href="/inquiry">제품문의</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="subdetailmenubt" href="javascript:void(0);">공지사항<span>></span></a>
                                <ul class="m_subdetailmenu">
                                    <li><a href="/notice">공지사항 & 뉴스</a></li>
                                </ul>
                            </li>
                            <!-- <li>
                                <a class="subdetailmenubt" href="#1">설정</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="m_sub_menu_bg"></div>
                </div>
            </div>
            <!-- 모바일 메인슬라이드 -->
            <div class="m_main_slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide m_mainslide01">
                        <img src="/resources/images/main/m_mainimg03.jpg?20200319" alt="mainimg01">
                    </div>
                    <div class="swiper-slide m_mainslide02">
                        <img src="/resources/images/main/m_mainimg01.jpg?20200319" alt="mainimg02">
                    </div>
                    <div class="swiper-slide m_mainslide03">
                        <img src="/resources/images/main/m_mainimg02.jpg?20200319" alt="mainimg03">
                    </div>
                </div>
                <!--
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                -->
                <div class="ms_wrap">
                    <div class="swiper-pagination m_main_slide_pagination"></div>
                </div>
            </div>
            <!-- 모바일 메인슬라이드 끝-->
            <!-- 모바일 메인 퀵배너 -->
            <div class="quick_banner_box">
                <ul>
                    <li><a href="/product/DIE_SPOTTING_PRESS_1"><img src="/resources/images/main/m_quickmenu01.png" alt=""></a></li>
                    <li><a href="/company/company"><img src="/resources/images/main/m_quickmenu02.png" alt=""></a></li>
                    <li><a href="javascript:alert('준비중입니다.');"><img src="/resources/images/main/m_quickmenu03.png" alt=""></a></li>
                </ul>
            </div>
            <!-- 모바일 메인 퀵배너 끝-->
            <!-- 공지사항 & 뉴스 -->
            <div class="m_notice_box">
                <div class="m_notice">
                    <h4>KUKDONG <span>NOTICE & NEWS</span></h4>
                    <div class="m_board_slide">
                        <div class="m_board_slide_wrap">
                            <div class="swiper-wrapper">

                                
                                    
                                        
                                            <div class="swiper-slide">
                                                <div class="board_con">
                                                    <a href="/notice">
                                                        <h3></h3>
                                                        <p></p>
                                                        <span>2018-09-10</span>
                                                    </a>
                                                </div>
                                            </div>
                                        
                                            <div class="swiper-slide">
                                                <div class="board_con">
                                                    <a href="/notice">
                                                        <h3>이미지 첨부 테스트</h3>
                                                        <p></p>
                                                        <span>2018-09-10</span>
                                                    </a>
                                                </div>
                                            </div>
                                        
                                            <div class="swiper-slide">
                                                <div class="board_con">
                                                    <a href="/notice">
                                                        <h3>극동프레스 홈페이지 오픈</h3>
                                                        <p>극동프레스 홈페이지 오픈 2018.08.13</p>
                                                        <span>2018-08-10</span>
                                                    </a>
                                                </div>
                                            </div>
                                        
                                    
                                    
                                
                            </div>
                        </div>
                        <div class="m_board_slide_bts">
                            <div class="board_slide_prev">위</div>
                            <div class="board_slide_next">아래</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 공지사항 & 뉴스 끝-->

            <!-- 극동프레스 info -->
            <div class="service_box">
                <ul>
                    <li>
                        <a href="/resources/download/극동프레스 브로슈어(P8) .pdf" download>
                            <h4><img src="/resources/images/main/info_icon04.png" alt=""></h4>
                            <p>회사소개서</p>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+82.31.355.8170">
                            <h4><img src="/resources/images/main/info_icon01.png" alt=""></h4>
                            <p>+82.31.355.8170</p>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+82.31.355.8169">
                            <h4><img src="/resources/images/main/info_icon02.png" alt=""></h4>
                            <p>+82.31.355.81691111</p>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:kdpress2028@hanmail.net">
                            <h4><img src="/resources/images/main/info_icon03.png" alt=""></h4>
                            <p>kdpress2028@hanmail.net</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 극동프레스 info 끝 -->
            <!-- 모바일 footer -->
            <div class="m_footer">
                <p>경기도 화성시 송산면 송산산단길 123</p>
                <p>㈜극동프레스 Copyright(c) KUKDONG PRESS.All Rights Reserved. </p>
            </div>
            <!-- 모바일 footer 끝-->
        </div>
    </body>
</html>
